In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
#importing dataset

dataset = pd.read_csv("50startups.csv")

In [6]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,4]

In [11]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [12]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [14]:
x["State"].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [15]:
# encode the categorical column - OHE

states = pd.get_dummies(x["State"], drop_first = True)

In [16]:
#drop the state column

x = x.drop("State",axis = 1)

In [17]:
#concat the dummy variable

x = pd.concat([x,states], axis = 1)

In [18]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [19]:
# splitting the train and test data

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [20]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [22]:
# predicting the test set results

y_pred = lr.predict(X_test)

In [23]:
from sklearn.metrics import r2_score

score = r2_score(y_test,y_pred )

In [24]:
score

0.9347068473282423