### Tuples

The only difference between tuples and list is, the elements of tuples cannot be changed

In [1]:
### Tuple creation

# empty tuple
t = ()

# tuple having integers
t = (1, 2, 3)
print(t)

# tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2,3),[1,2,3,4])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3), [1, 2, 3, 4])

In [4]:
# only parenthesis is not enough
t = ('satish')
print(type(t))

# put a comma at the end
t = ('satish',)
print(type(t))

# parentheisis is optional
t = 'satish',
print(type(t))

<class 'str'>
<class 'tuple'>

In [10]:
# Accesing elements in tuple

t = ('a', 'b', 'c', 'd', 'e')
print(t[1])

# negative index

print(t[-1])

# nested tuple
t = ('ABC', ('a','b','c'))
print(t[1])

print(t[1][2])

b
e
('a', 'b', 'c')
c

In [14]:
# Slicing

t = (1,2,3,4,5,6)

print(t[1:4])

print(t[:-1])

print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [15]:
# changing a tuple element is not done, will throw an error

t = (1,2,3,[4,5,6])

t[1] = 'a'

TypeError: 'tuple' object does not support item assignment

In [17]:
# but if the tuple element is itself a mutable datatype then it can be changed

t[3][1] = 'b'
print(t)

(1, 2, 3, [4, 'b', 6])

In [18]:
# concatenating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [19]:
t = (('satish',)*4)

print(t)

('satish', 'satish', 'satish', 'satish')

In [20]:
# tuple deletion
# we cannot remove or delet elements from a tuple nor we can change it
t = (1,2,3,4,5,6)


# delete entire tuple
del t

In [22]:
# tuple index

t = (1,2,3,4,5,6,7,8)
print(t.index(3))

2

In [23]:
# tuple membership
t = (1,2,3,4,5,6)
print(1 in t)

True

In [24]:
print(7 not in t)

True

In [30]:
# Tuple length

t = (1,2,3,4)
print(len(t))

# tuple sort

t = (1, 0,20,100)
t1 = sorted(t)
print(t1)
print(t)

# get the largest element

print(max(t))

# get the minm element
print(min(t))

# get the sum of all the elements
print(sum(t))

4
[0, 1, 20, 100]
(1, 0, 20, 100)
100
0
121